{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> iTrader </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/home.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/aboutus.css' %}">
            <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit tenetur soluta autem vitae, illum voluptatum iste dicta corrupti quam, hic architecto doloribus fugit esse perspiciatis ratione vero fuga deserunt optio!</p>
                    <div class="button">
                        <span></span>
                        <a href=""> Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class='fab fa-facebook'></i></a>
                    <a href=""></a><i class='fab fa-twitter'></i></a>
                    <a href=""></a><i class='fab fa-instagram'></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="{% static 'itrader/images/pexels-photo-1229861.jpeg' %}">
            </div>
        </div>
    </div>
</body>
</html>