{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> iTrader </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/home.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/aboutus.css' %}">
            <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="banner">
        
    <div class="section">
        <div class="navbar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bx-line-chart'></i>
                    <div class="logo_name">iTrader</div>
                </div>
            </div>
           <ul>
               <li><a href="home"> Home </a></li>
               <li><a href="aboutus"> About  </a> </a></li>
               <li><a href="contactus"> Contact Us </a></li>
           </ul>
        </div> 
        <div class="container">

            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>iTrader the trading platform you need</h3>
                    <p>iTrader is an all in one trading platform. You can place your trades, check the latest news and chat with other traders. In addition to that we provide market analysis.</p>
                    <div class="button">
                        <span></span>
                        <a href=""> Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class='fab fa-facebook'></i></a>
                    <a href=""></a><i class='fab fa-twitter'></i></a>
                    <a href=""></a><i class='fab fa-instagram'></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="{% static 'itrader/images/pexels-photo-1229861.jpeg' %}">
            </div>
        </div>
    </div>
</body>
</html>