{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> iTrader | Login </title>
        <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/auth.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
            <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}
    
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="{% static 'itrader\images\istockphoto-1332377628-170667a.jpg' %}" alt="">   
                <div class="text">
                    <span class="text-1">This plaform is built to increase accessibility to stockbrokerage services.</span>
                    <span class="text-2">Let's get Trading</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="{% static 'itrader\images\istockphoto-1332377628-170667a.jpg' %}" alt="">   
                <div class="text">
                    <span class="text-1">This plaform is built to increase accessibility to stockbrokerage services.</span>
                    <span class="text-2">Let's get Trading</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Sign In</div>
                <form action="{% url 'itrader:signin' %}" method="post">
                {% csrf_token %}
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class='bx bxs-user'></i>   
                            <input type="text" name="username" placeholder="User Name" required>
                        </div>
                        <div class="input-box">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="text"><a href="/password_reset">Forgot password?</a></div>
                        <div class="button input-box">
                            <input type="submit" value="Sign In">
                        </div>
                        <div class="text sign-up-text"> Don't have an account? <label for="flip">Sign Up now</label></label></div>
                    </div>
                </form>
            </div>    
            <div class="signup-form">
                <div class="title">Signup</div>
            <form action="/signup" method="post">
            {% csrf_token %}
                <div class="input-boxes">
                    <div class="input-box">
                        <i class='bx bxs-user'></i>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-box">
                        <i class='bx bxs-envelope' ></i>
                        <input type="email" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="input-box">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" name="password1" placeholder="Password" required>
                    </div>
                    <div class="input-box">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" name="password2" placeholder="Confirm Password" required>
                    </div>
                    <div class="button input-box">
                        <input type="submit" value="Sign Up">
                    </div>
                    <div class="text sign-up-text">Already have an account? <label for="flip">Sign In now</label></label></div>
                </div>
            </form>
            </div>
         </div>
    </div>
   </body>
</html>