{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> iTrader </title>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/home.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/contactus.css' %}">
            <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="contact-section">
        <div class="navbar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bx-line-chart'></i>
                    <div class="logo_name">iTrader</div>
                </div>
            </div>
           <ul>
               <li><a href="home"> Home </a></a></li>
               <li><a href="aboutus"> About  </a> </a></li>
               <li><a href="contactus"> Contact Us </a></li>
           </ul>
        </div> 
        <h1>Contact Us</h1>
        <div class="border"></div>
        <form class="contact-form" action=""method="post">
            <input type="text" class="contact-form-text" placeholder="Your name">
            <input type="email" class="contact-form-text" placeholder="Your email">
            <input type="text" class="contact-form-text" placeholder="Your phone">
            <textarea class="contact-form-text" placeholder="Your message"></textarea>
            <input type="submit" class="contact-form-btn" value="Send">
        </form>  
    </div>
</body>
</html>