{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> iTrader </title>
        <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/home.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
            <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bx-line-chart'></i>
                    <div class="logo_name">iTrader</div>
                </div>
            </div>
           <ul>
               <li><a href="#"> Home </a></li>
               <li><a href="aboutus"> About  </a> </a></li>
               <li><a href="contactus"> Contact Us </a></li>
           </ul>
        </div> 
        <div class="content">
            <h1>TRADE STOCKS EASILY</h1>
            <p>Get a smooth experience on your first trade with the many tools we offer.<br>Join us us today.</p>
            <div>
                <button type="button" onclick="location.href='signin'"><a href="#"></a> <span></span>Trade Now</button>
            </div>
        </div>
    </div>    
</body>
</html>