{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'itrader/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'itrader/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'itrader/css/bootstrap.min.css' %}">
    <title> iTrader </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/itrader.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
            <meta name= "viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <aside class="right-sidebar">
      <div class="side-inner">
        <div class="buysell"> 
            <form action="buysell" method="post">
            {% csrf_token %}   
            
                <span id="selectedRows"></span>
                <h2 class="buysell-title">Buy/Sell</h2>
                <!-- content -->
                <div class="buy-sell-content">
                    <div class="input-field">
                        <label for="clientcode">Client Code:</label>
                        <input type="text" id="clientcode"  name="clientcode" value="{{username}}" required>
                    </div>
                    <div class="input-field">
                        <label for="type">Type:</label>
                        <input type="radio" id="gridRadios1" name="buysell" value="buy">
                        <label for="buy">Buy</label>
                        <input type="radio" id="gridRadios1" name="buysell" value="sell">
                        <label for="sell">Sell</label>
                    </div>
                    <div class="input-field">
                        <label for="security">Security:</label>
                        <input type="text" id="security" name="security" required>
                    </div>
                    <div class="input-field">
                        <label for="market">Market:</label>
                        <select name="market">
                            <option value="ET Normal" >ET Normal</option>
                            <option value="ET ODD" >ET ODD</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="quantity">Quantity:</label>
                        <input type="text" id="quantity" name="quantity">
                    </div>
                    <div class="input-field">
                        <label for="price">Price:</label>
                        <input type="number" id="clientcode" name="price">
                    </div>
                    <div class="input-field">
                        <label for="validupto">Valid Upto:</label>
                        <input type="date" id="validupto" name="validupto">
                    </div>
                    <div class="input-field">
                        <label for="delivery">Delivery/Intraday:</label>
                        <select name="delivery">
                            <option value="Delivery" >Delivery</option>
                            <option value="Intraday" >Intraday</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Buy" class="btn btn-primary">
                    </div>
                </div>
            </form> 
            
        </div>  
      </div>    
    </aside>

    <main>
    <div class="container">
        <div class="row justify-content-center h-100" style>
            <div class = "sidebar">
                <div class="logo_content">
                    <div class="logo">
                        <i class='bx bx-line-chart'></i>
                        <div class="logo_name">iTrader</div>
                    </div>
                    <i class='bx bx-menu' id="btn"></i>
                </div>
                <ul class="nav_list">
                    <li>
                        <i class='bx bx-search-alt' ></i>
                        <input type="text" placeholder="Search...">
                        <span class="tooltip">Search...</span>
                    </li> 
                    <li>
                        <a href="itrader" data-bs-toggle="tooltip" title="Watchlist" >
                            <i class='bx bx-stopwatch'></i>
                            <span class="links_name">Watchlist</span>
                        </a>
                        <span class="tooltip">Watchlist</span>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class='bx bx-grid-alt' ></i>
                            <span class="links_name">Dashboard</span>
                        </a>
                        <span class="tooltip">Dashboard</span>
                    </li>
                    <li>
                        <a href="news">
                            <i class='bx bx-news' ></i>
                            <span class="links_name">News</span>
                        </a>
                        <span class="tooltip">News</span>
                    </li>
                    <li>
                        <a href="itrader/chat">
                            <i class='bx bx-message-rounded-dots' ></i>
                            <span class="links_name">Chat</span>
                        </a>
                        <span class="tooltip">Chat</span>
                    </li>
                    <li>
                        <a href="orderhistory">
                            <i class='bx bx-money-withdraw'></i>
                            <span class="links_name">Portfolio</span>
                        </a>
                        <span class="tooltip">Order History</span>
                    </li>
                </ul>
                <div class="profile_content">
                    <div class="profile">
                        <div class="profile_details">
                            <img src="{% static 'itrader\images\alex-starnes-PK_t0Lrh7MM-unsplash.jpg' %}" alt="">
                            <div class="name_job">
                                {% if user.is_authenticated %}
                                <div class="name">{{ username }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <a href="/logout"><i class='bx bx-log-out' id="log_out"></i></a>
                    </div>
                </div>
            </div>
                <div class="home_content">
                    <div class="text">Home Content</div>
                    <div id="myGrid" style="height: 90%; width:100%; position: absolute;" class="ag-theme-balham"></div>     
                </div>
                <div class="content">
                   
                    <div class="mytabs">
                        
                        <input type="radio" id="tababout" name="mytabs" checked="checked">
                        <label class="labelt" for="tabtree">About</label>
                        <div class="tab">
                            <span id="selectedRow"></span>
                            <p><span id="selectedProfile"></span></p>

                        </div>
                        
                        <input type="radio" id="tabdocuments" name="mytabs">
                        <label class="labelt" for="tabdocuments">Documents</label>
                        <div class="tab">
                            <span id="selectedRow"></span>
                            <embed src = "C:\Trading Application\trading\data\BBK_AR20_EN.pdf" type="application/pdf" width="50%" />
                        </div>

                        <input type="radio" id="tabgraph" name="mytabs">
                        <label class="labelt" for="tabgraph">Graph</label>
                        <div class="tab">
                            <span id="selectedRow"></span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi placeat consequuntur eos quae fuga assumenda officiis quam minima facilis dolorem. Perferendis tenetur repellendus officia odit ipsa unde necessitatibus sunt reiciendis.</p>
                        </div>
                       
                    </div>
                   
                    
                </div>
              
            </div>
        </div>
      </div>  

    </main>
    {{ username|json_script:"json-username" }}
    <script>
        const columnDefs = [
        {headerName: 'Security', field: 'security', sortable:true, filter:true},
        {headerName: 'Last Price', field: 'lastprice', sortable:true, filter:true},
        {headerName: 'Demand Qty', field: 'demandqty', sortable:true, filter:true},
        {headerName: 'Demand Price', field: 'demandprice', sortable:true, filter:true},
        {headerName: 'Supply Price', field: 'supplyprice', sortable:true, filter:true},
        {headerName: 'Supply Qty', field: 'supplyqty', sortable:true, filter:true},
        {headerName: 'Last Qty', field: 'lastqty', sortable:true, filter:true},
        {headerName: 'High', field: 'high', sortable:true, filter:true},
        {headerName: 'Low', field: 'low', sortable:true, filter:true},
    ];

    const gridOptions = {
        columnDefs: columnDefs,
        rowSelection: 'single',
        rowClass: 'js-menu-toggle menu-toggle',
        // onRowClicked: event => document.querySelector(".buysell").classList.toggle("active"),
        // onRowClicked: event =>ocument.querySelector('<div class="toggle"><a href="#" class="js-menu-toggle menu-toggle"><span class="icon-mode_comment text-black"></span></a></div>'),
        rowData: JSON.parse('{{ data | safe }}'),
        onFirstDataRendered: onFirstDataRendered,
        onSelectionChanged: onSelectionChanged,
    };
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    document.getElementById("clientcode").value = userName;

    function onSelectionChanged() {
        const selectedRows = gridOptions.api.getSelectedRows();
        const selectedsec  =selectedRows.length === 1 ? selectedRows[0].security : ''; 
        document.getElementById("security").value = selectedsec;
        document.querySelector('#selectedRows').innerHTML =
            selectedsec;
        document.querySelector('#selectedRow').innerHTML =
            selectedsec;
        var profile = JSON.parse('{{ profile | escapejs }}');
        for (var i = 0; i < profile.length; i++){
            var obj = profile[i];
            var keys = Object.keys(obj)
            if (keys[0] == 'security'){
                if (obj[keys[0]] == selectedsec){
                    document.querySelector('#selectedProfile').innerHTML =
                    obj[keys[1]];
                }
                }
            } 
        }

   
    function onFirstDataRendered(params) {
        params.api.sizeColumnsToFit();
    }

    document.addEventListener('DOMContentLoaded', () =>  {
        const eGridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(eGridDiv, gridOptions);
    });
    </script>
    <script src="{% static 'itrader/js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'itrader/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'itrader/js/popper.min.js' %}"></script>
    <script src="{% static 'itrader/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'itrader/js/main.js' %}"></script>
  </body>
</html>