{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> iTrader </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/itrader.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'itrader/css/room.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
<!-- side Nav Bar -->
<div class = "sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bx-line-chart'></i>
            <div class="logo_name">iTrader</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <i class='bx bx-search-alt' ></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search...</span>
        </li> 
        <li>
            <a href="itrader" data-bs-toggle="tooltip" title="Watchlist" >
                <i class='bx bx-stopwatch'></i>
                <span class="links_name">Watchlist</span>
            </a>
            <span class="tooltip">Watchlist</span>
        </li>
        <li>
            <a href="dashboard">
                <i class='bx bx-grid-alt' ></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="news">
                <i class='bx bx-news' ></i>
                <span class="links_name">News</span>
            </a>
            <span class="tooltip">News</span>
        </li>
        <li>
            <a href="itrader/chat">
                <i class='bx bx-message-rounded-dots' ></i>
                <span class="links_name">Chat</span>
            </a>
            <span class="tooltip">Chat</span>
        </li>
        <li>
            <a href="orderhistory">
                <i class='bx bx-money-withdraw'></i>
                <span class="links_name">Portfolio</span>
            </a>
            <span class="tooltip">Order History</span>
        </li>
    </ul>
      <div class="profile_content">
          <div class="profile">
              <div class="profile_details">
                  <img src="{% static 'itrader\images\alex-starnes-PK_t0Lrh7MM-unsplash.jpg' %}" alt="">
                  <div class="name_job">
                      <!-- {% if user.is_authenticated %} -->
                      <div class="username" id="username">{{ username}}</div>
                      <!-- {% endif %} -->
                  </div>
              </div>
              <a href="/logout"><i class='bx bx-log-out' id="log_out"></i></a>
          </div>
      </div>
  </div>
  <div class="home_content">
    <section class="section" style="height:100%;">
      <div class="container" style="height:100%;">
      <div class="row clearfix" style="height:100%;">
          <div class="col-lg-12">
              <div class="card chat-app" style="height:80%;">
                  <div id="plist" class="people-list">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Search...">
                      </div>
                      <ul class="list-unstyled chat-list mt-2 mb-0" style="overflow: auto; height:600px;">
                        {% for r in rooms %}
                        <li class="clearfix" id="room-name-submit">
                            <div class="about">
                                <div class="name" >{{ r.security }}</div>
                            </div>
                        </li>
                        {% endfor %}
                                 
                    </ul>
                  </div>
                  <div class="chat" style="height:79.5%;">
                      <div class="chat-header clearfix">
                          <div class="row">
                              <div class="col-lg-6">
                                  <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                  </a>
                                  <div class="chat-about">
                                      <h6 class="m-b-0">{{ roomname}} - {{ username }}</h6>
                                  </div>
                              </div>
                              <div class="col-lg-6 hidden-sm text-right">
                                  <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                                  <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="chat-history" id="chat-messages" style="height:90%; overflow-y:scroll;">
                        <ul class="m-b-0">
                        {% for m in messages %}
                              {% if username == m.username %}
                              <li class="clearfix">
                                    <div class="message-data text-right">
                                      <span class="message-data-time">{{ m.username}}</span>
                                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">

                                    </div>
                                    <div class="message other-message float-right"> 
                                      {{ m.content }} <br>
                                      <span class="message-data-time">{{m.date_added}}</span>
                                    </div>
                              </li>
                              {% else %}
                              <li class="clearfix">
                                  <div class="message-data">
                                      <span class="message-data-time">{{ m.username}}</span>
                                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">

                                  </div>
                                  <div class="message my-message">
                                      {{ m.content }} <br>
                                      <span class="message-data-time">{{m.date_added}}</span>

                                  </div>                                    
                              </li>  
                            {% endif %}                             
                        {% endfor %}
                        </ul>
                      </div>
                      <div class="chat-message clearfix">
                          <div class="input-group mb-0">
                              <div class="input-group-prepend" id="chat-message-submit"> 
                                  <span class="input-group-text" ><i class="fa fa-send"></i></span>
                              </div>
                              <input type="text" class="form-control" id="chat-message-input" placeholder="Enter text here...">                                    
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </section>
  </div>
{{ roomname|json_script:"json-roomname" }}
{{ username|json_script:"json-username" }}
<script>
    function scrollToBottom() {
      let objDiv = document.getElementById("chat-messages");
      objDiv.scrollTop = objDiv.scrollHeight;
    }
    scrollToBottom();

    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
  
    const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/chat/'
    + roomName
    + '/'
    );

    chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      console.log(data)
      if (data.message) {
        document.querySelector('#chat-messages').innerHTML += 
        ("<li class='clearfix'><div class='message-data text-right'><span class='message-data-time'>" + data.username +"</span><img src='https://bootdey.com/img/Content/avatar/avatar7.png' alt='avatar'></div><div class='message other-message float-right'>" + data.message + "<br> <span class='message-data-time'>" +data.date_added+"</span></div></li>");
        // ("<div class='container darker'><b>" + data.username + "</b><p>" + data.message + "</p><span class='time-left'>"+ data.date_added+ "</span></div>");

      }else{
        alert('The message was empty!'); 
      }
      scrollToBottom();
    };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
          document.querySelector('#chat-message-submit').click();
        }
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
          'message': message,
          'username': userName,
          'room': roomName,
          'date_added': moment(Date.now()).format('YYYY-MM-DD HH:mm:ss'),
        }));

        console.log(JSON.stringify({
          'message': message,
          'username': userName,
          'room': roomName,
          'date_added': moment(Date.now()).format('YYYY-MM-DD HH:mm:ss'),
        }));

        messageInputDom.value = '';
      };
  </script>
  <script src="{% static 'itrader/js/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
