@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    position: relative; }
    body:before {
      position: absolute;
      content: "";
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    body.show-right-sidebar {
      overflow: hidden; }
      body.show-right-sidebar:before {
        opacity: 1;
        visibility: visible; }
  
  .site-section {
    padding: 7rem 0; }
  
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.sidebar.active{
   width: 240px; 
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
.sidebar ul li .bx-search-alt{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}
.sidebar ul li .bx-search-alt:hover{
    background: #fff;
    color: #1d1b31;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition:  all 0.4s ease;
    border-radius: 12px;
    white-space:nowrap ;
}
.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile {
    background: #1d1b31;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
}
.sidebar.active .profile #log_out{
    left: 88%;
}
.sidebar.active .profile #log_out{
    background: none;
}
.home_content{
    position: absolute;
    height: 60vh;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin:12px;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}
/* buy and sell */
.buysell{
    height: 100%;
    padding: 15px 14px;
    text-align: left;
}
.buysell.active{
    width: 370px; 
 }
.buysell-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.buysell.active .home_content{
    width: calc(100% - 408px);
}
.buysell.active .sidebar.active .home_content{
    width: calc(100% - 570px);
}
.buysell .buy-sell-content{
    width: 100%;
}
.buysell .buy-sell-content .input-field{
    margin-bottom: 15px;
    display:flex;
    align-items: left;
}
.buysell .buy-sell-content .input-field label{
   width: 100px;
   margin-right: 5px;
   font-size: 14px;
}
.buysell .buy-sell-content .input-field input{
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 12px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.buysell .buy-sell-content .input-field .custom-select{
    position: relative;
}
.buysell .buy-sell-content .input-field .custom-select select{
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
}
.buysell .buy-sell-content .input-field .btn{
    width: 50%;
    margin-left: 50%;
    font-size: 15px;
    border:rgba(0, 0, 0,0.2)
}
 .input-field label.radio {
    cursor: pointer;
    width: 100%
}

 .input-field label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}
.input-field label.radio span {
    padding: 7px 14px;
    border: 2px solid #eee;
    display: inline-block;
    color: #039be5;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    line-height: 27px
}

.buysell .buy-sell-content .input-field label.radio input:checked+span {
    border-color: #039BE5;
    background-color: #81D4FA;
    color: #fff;
    border-radius: 9px;
    height: 48px;
    line-height: 27px
}
aside, main {
    height: 100vh;
    min-height: 580px; }
  
  aside {
    width: 380px;
    right: 0;
    z-index: 1001;
    position: fixed;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    color: #fff;
    background-color: #464159;
    -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1); }
    .show-sidebar aside {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    aside .toggle {
      padding-right: 30px;
      padding-top: 30px;
      position: absolute;
      left: 0;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }
      .show-sidebar aside .toggle .burger:before, .show-sidebar aside .toggle .burger span, .show-sidebar aside .toggle .burger:after {
        background: #fff; }
    .show-sidebar aside {
      -webkit-box-shadow: -10px 0 30px 0 rgba(0, 0, 0, 0.5);
      box-shadow: -10px 0 30px 0 rgba(0, 0, 0, 0.5); }
    aside .side-inner {
      padding: 20px 0;
      height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }
      aside .side-inner .share {
        padding: 50px; }
        aside .side-inner .share h2 {
          font-size: 3rem;
          font-weight: 700;
          margin-bottom: 30px; }
        aside .side-inner .share p {
          color: #fff;
          line-height: 1.8;
          margin-bottom: 30px; }
        aside .side-inner .share form .form-control {
          background: none;
          border-radius: 0;
          height: 56px;
          margin-bottom: 20px;
          color: #fff;
          border-color: rgba(255, 255, 255, 0.2); }
          aside .side-inner .share form .form-control:active, aside .side-inner .share form .form-control:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: #fff; }
          aside .side-inner .share form .form-control::-webkit-input-placeholder {
            /* Edge */
            color: #fff; }
          aside .side-inner .share form .form-control:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff; }
          aside .side-inner .share form .form-control::-ms-input-placeholder {
            color: #fff; }
          aside .side-inner .share form .form-control::placeholder {
            color: #fff; }
        aside .side-inner .share form textarea {
          height: auto !important; }
        aside .side-inner .share form .btn {
          border-color: transparent;
          height: 56px;
          border-radius: 0;
          display: block;
          background: #fff;
          color: #000;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: .2rem; 
        
    }
main {
    width: calc(100%); 
}
main .post-entry {
    margin-bottom: 30px; }
    main .post-entry .custom-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    margin-right: 30px; }
main .post-content h3 {
    font-size: 18px; }
main .post-content .post-meta {
    font-size: 15px;
    color: #ccc; }

/* Toggle */
.menu-toggle span {
color: #ccc;
font-size: 2rem; }

.menu-toggle:hover span, .menu-toggle:focus span {
color: #000; }

.menu-toggle.active span {
color: #fff; 
}

.content{
    position: absolute;
    height: 40%;
    width: 100%;
    margin-top: 60vh;
    left: 78px;
    right:78px;
    transition: all 0.5s ease;
    background-color: #f5f6fa;
}
.content .text{
    /* font-size: 25px; */
    /* font-weight: 500; */
    color: #1d1b31;
    margin:12px;
}
.sidebar.active ~ .content{
    width: calc(100% - 240px);
    left: 240px;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.mytabs input[type='radio'] {
    display:none;
}
.mytabs .labelt {
    padding: 15px;
    background: #f5f6fa;
    font-weight: bold;
}
.mytabs .tab{
    width: 100%;
    background: #f5f6fa;
    order: 1;
    display: none;
}
.mytabs .tab h2{
    font-size: 3em;
}
.mytabs input[type='radio']:checked + label + .tab{
    display: block;
}
.mytabs input[type='radio']:checked + label {
    background: #fff;
}